/*
============= 
Google font - noto sans
=============
*/
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");

/*
============= 
Variables
=============
*/

:root {
  /* 網站主色 */
  --clr-primary-1: #656d4a;
  --clr-primary-1: #4a574f;
  /* --clr-primary-1: #042825; */
  /* --clr-primary-1: #3c5341; */
  --clr-primary-2: #e9ece3;
  --clr-primary-2: #e4e8e6;
  /* --clr-primary-2: #f1f4f1; */
  --clr-primary-3: #d4d8c7;
  --clr-primary-3: #e4e8e6;
  --clr-primary-4: #042825;
  --clr-primary-5: #f2a278;
  --clr-black-1: #404040;
  --clr-grey-1: rgb(225, 228, 211);
  --clr-grey-2: #a6a6a6;
  --clr-yellow-1: #ffbd59;
  --spacing: 0.1rem;
  --transition: all 0.25s ease-in-out;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
  --max-width: 1170px;
  --font-weight: 900;
}

/*
=============== 
Global Styles
===============
*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Noto Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* background: var(--clr-primary-2); */
}

ul {
  list-style-type: none; /*移除 bullet */
}

a {
  text-decoration: none; /*移除連結的底線 */
}

h3 {
  padding: 1rem 0;
}

/*
=============== 
Navbar
===============
*/
nav {
  position: fixed;
  width: 100%;
  z-index: 1;
  margin: 0 auto;
  background: white;
  box-shadow: var(--light-shadow);
}
.nav-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.2rem 0.7rem;
}

/* nav.dark {
  background-color: #21222a;
} */

.nav-toggle {
  font-size: 1.3rem;
  color: var(--clr-primary-1);
  background: transparent;
  border-color: transparent;
  cursor: pointer;
  padding-top: 3.5px;
}
.nav-toggle:hover {
  color: var(--clr-black-1);
}
.logo {
  height: 30px;
  margin-top: 3px;
  /* border: solid 1px; */
  margin-left: 0.3rem;
}

.toggler {
  display: flex;
  align-items: center;
}

.toggler p {
  font-size: 0.625rem;
  font-weight: 600;
}

.toggler--slider {
  width: 25px;
  height: 13px;
  background-color: var(--clr-primary-1);
  border-radius: 2rem;
  margin-inline: 7px;
  cursor: pointer;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid var(--clr-primary-1);
  box-sizing: content-box;
}

nav.dark .toggler--slider {
  border-color: white;
  background-color: #f5f5f5;
}

.toggler--slider--circle {
  height: 13px;
  width: 13px;
  background-color: white;
  border-radius: 50%;
}

nav.dark .toggler--slider--circle {
  background-color: var(--clr-primary-1);
}

.toggler--light {
  color: var(--clr-primary-1);
  margin-right: 3px;
}

nav.dark .toggler--light {
  color: #918e9b;
}

.toggler--dark {
  color: #d5d4d8;
  margin-right: 10px;
  margin-left: 3px;
}

nav.dark .toggler-dark {
  color: #ffffff;
}

nav.dark .toggler--slider {
  justify-content: flex-end;
}

/*
=============== 
End of Navbar
===============
*/
/*
=============== 
Menu
===============
*/
.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  visibility: hidden;
  z-index: -1;
  transition: all 0.3s ease-in-out;
}

.show-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: var(--clr-primary-2);
  visibility: visible;
  z-index: 10;
}
.close-btn {
  position: relative;
  top: 1rem;
  margin-left: 90vw;
  border: none;
  background: transparent;
  color: var(--clr-primary-1);
  font-size: 1.5rem;
  transition: var(--transition);
  transform: rotate(45deg);
  cursor: pointer;
}

.links {
  /* border: solid 1px; */
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 60%;
  top: 5rem;
}

.links a {
  /* border: solid 1px; */
  display: flex;
  align-items: center;
  color: var(--clr-primary-1);
  font-size: 1.15rem;
  padding: 0.8rem 1.5rem;
  letter-spacing: var(--spacing);
  transition: all 0.2s ease-in-out;

  /* animation: moveup 0.5s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards; */
  /*設定物件狀態為動畫結束時的狀態*/
  /* animation-delay: 0.5s; */
  /* border: solid 1px; */
}

.links a svg {
  margin-right: 0.3rem;
}

/* @keyframes moveup {
  from {
    margin-bottom: 0rem;
  }
  to {
    margin-bottom: 0.8rem;
  }
} */

.links a:hover {
  /* background: var(--clr-primary-3); */
  padding-left: 2rem; /*製造文字往內縮的效果*/
  color: var(--clr-primary-1);
}

/*
=============== 
End of Menu
===============
*/
/*
=============== 
Home - LandingPage
===============
*/

main {
  background: var(--clr-primary-3);
  color: var(--clr-primary-1);
}

main.dark {
  background-color: var(--clr-primary-1);
  color: var(--clr-primary-2);
}

.landing-page {
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.dark-leaf-special {
  visibility: hidden;
}

.landing-page-quote {
  visibility: hidden;
}

.landing-page img {
  position: absolute;
}

.landing-page .nancy-pic {
  left: 52%;
  transform: translate(-50%, 0%);
  height: 55%;
  bottom: 15px;

  /* width: 100%; */
}

.landing-page .explore-leaf {
  width: 100px;
  top: 270px;
  right: 50px;
  transform: rotateZ(-30deg);
  /* bottom: 20px; */
}

.landing-page div {
  padding-top: 120px;
  padding-left: 50px;
  font-size: 2.1rem;
  letter-spacing: 0px;
}
.landing-page p {
  margin-top: 5px;
  font-size: 20px;
  font-weight: 700;
}

.landing-page h1 {
  font-size: 45px;
  color: var(--clr-primary-5);
}

/*
=============== 
Home - end of LandingPage
===============
*/

/*
=============== 
Home - myPic
===============
*/

.section {
  background-color: var(--clr-primary-3);
  width: 100vw;
  margin: 0 auto;
  /* max-width: var(--max-width); */
  position: relative;
  top: 3rem;
  display: flex;
  align-content: center;
  justify-content: center;
  height: 20rem;
  /* border: solid 1px; */
}

.section-center {
  margin: 0 auto;
  position: relative;
  width: 90vw;
  max-width: 800px;
  height: 20rem;
  position: relative;
  overflow: hidden;
}

article {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: var(--transition);
}

article img {
  display: flex;
}

.myPic {
  margin: 0 auto;
  /* er: solid 1px; */
  height: 370px;
  width: 100%;
  object-fit: cover;
}

.prev,
.next {
  position: absolute;
  top: 175px;
  height: 1.25rem;
  width: 1.25rem;
  border-color: transparent;
  border-radius: 100%;
  border: transparent;
  color: var(--clr-primary-1);
  display: grid;
  place-items: center;
  background: white;
  font-size: 1rem;
  /* border: solid 1px; */
  cursor: pointer;
}
.prev:hover,
.next:hover {
  background: var(--clr-primary-2);
}

.prev {
  left: 0;
}
.next {
  right: 0;
}

article.activeSlide {
  opacity: 1;
  transform: translateX(0px);
}
article.lastSlide {
  transform: translateX(-100%);
}
article.nextSlide {
  transform: translateX(100%);
}

/*
=============== 
End of Home - myPic
===============
*/

/*
=============== 
Home - aboutMe
===============
*/

.about-container {
  width: 100vw;
  height: 15rem;
  /* border: solid 1px red; */
  overflow: hidden;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
}

.greeting {
  width: 12rem;
  object-fit: cover;
  margin-bottom: 0.7rem;
}
/* .about-center {
  margin: 0 auto;
  display: flex;
  max-height: 375px;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  /* border: solid 1px; 
} */

/* .aboutPic {
  height: 350px;
  width: 100vw;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3)),
    url("./picture/aboutMe.JPG");
  background-size: cover;
  background-position: center;
  object-fit: cover; /*保持原有尺寸比例*/
/* background-attachment: fixed; */
/* } 

/* .aboutPic {
  display: table;
  height: 250px;
  width: 100vw;
  position: relative;
  background: linear-gradient(rgba(0, 0, 0, 0.452), rgba(0, 0, 0, 0.3)),
    url("./picture/aboutMe.JPG") no-repeat center center scroll;
  background-size: cover;
} */

.aboutPic::before {
  content: "";
  position: fixed;
  height: 750px;
  width: 100vw;
  background: linear-gradient(rgba(0, 0, 0, 0.472), rgba(0, 0, 0, 0.534)),
    url("./picture/aboutMe.JPG");
  background-size: cover;
  background-position: center;
  object-fit: cover;
  top: 0;
  left: 0;
  z-index: -99;
}

.aboutPic {
  max-width: var(--max-width);
  margin: 0 auto;
  /* border: solid 1px red; */
}
.content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  position: relative;
  padding: 50px;
  height: 320px;
  letter-spacing: 0.02rem;
  color: var(--clr-primary-3);
}

.blog-intro {
  font-size: 0.85rem;
  line-height: 1.4rem;
  font-weight: 800px;
  /* border: solid 1px; */
}

.quote {
  font-size: 0.85rem;
  /* font-style: italic; */
}
.quote-small {
  color: white;
  margin-top: 1rem;
  font-size: 0.7rem;
  /* font-style: italic; */
}

.content-container div {
  margin-top: 1rem;
}
/*
=============== 
End of Home - aboutMe
===============
*/

/*
=============== 
Home - Latest Hikes
===============
*/

.hike-section {
  background: var(--clr-primary-2);
  width: 100vw;
  height: 1200px;
}

.istanbul-leaf-label {
  width: 8rem;
  margin-left: 40px;
  margin-top: 2rem;
}
.hiking-leaf-label {
  width: 6.5rem;
  margin-left: 40px;
  margin-top: 2rem;
}

.leaf-container {
  position: relative;
}

.leaf-container img {
  -webkit-filter:opacity(.2);
  z-index: 99;
  position: absolute;
}

.dark-leaf-opacity {
  height: 400px;
  top: 200px;
  right: 0px;
}

.dark-leaf-opacity-2 {
  height: 350px;
  top: -250px;
}
.dark-leaf-opacity-3 {
  height: 400px;
  top: -400px;
  right: 0px;
  
}

/* .underline-2 {
  width: 4rem;
  height: 0.12rem;
  background: var(--clr-primary-1);
  margin: 0.5rem;
} */

.article-section {
  display: flex;
  justify-content: center;
  padding: 1rem 0;
  width: 100vw;
}

.article-container {
  width: 75vw;
  height: 320px;
  background: white;
  border-radius: 5px;
  box-shadow: 0px 25px 10px -15px var(--clr-primary-3);
}
.hiking-pic {
  width: 100%;
  border-radius: 5px 5px 0px 0px;
  height: 200px;
  object-fit: cover; /*保持原有尺寸比例*/
}

.mountain-container {
  /* border: solid 1px; */
  padding: 7px 15px;
  height: 100px;
}

.mountain-style {
  margin: 3px 5px;
  font-size: 1.5rem;
  color: var(--clr-black-1);
}

.name-style-1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.name-style-2 {
  display: flex;
}
.name-style-1 h6 {
  margin: 3px;
  padding-left: 3px;
  font-size: 0.6rem;
  color: var(--clr-primary-1);
  letter-spacing: 0.02rem;
  font-weight: 400;
}

.name-style-2 p {
  font-size: 0.6rem;
  color: var(--clr-primary-1);
}

.text-center {
  text-align: center;
  line-height: 1.2rem;
  margin: 0 6px;
  z-index: 0;
  color: var(--clr-primary-1);
  /* border: solid 1px; */
}

.color-under::after {
  content: "";
  width: 3.8rem;
  height: 0.8rem;
  position: absolute;
  background: var(--clr-primary-2);
  /* border: solid 1px; */
  margin-left: -30px;
  margin-top: -30px;
  z-index: -2;
}

.text-adj h5 {
  width: 3.7rem;
  /* border: solid 1px; */
  margin-right: -7.5px;
}

.color-under-2::after {
  content: "";
  width: 3rem;
  height: 0.8rem;
  position: absolute;
  background: var(--clr-primary-2);
  /* border: solid 1px; */
  margin-left: -23px;
  margin-right: 1px;
  margin-top: -30px;
  z-index: -2;
}

.color-under-3::after {
  content: "";
  width: 3.1rem;
  height: 0.8rem;
  position: absolute;
  background: var(--clr-primary-2);
  /* border: solid 1px; */
  margin-left: -24px;
  margin-top: -30px;
  z-index: -2;
}

.color-under-4::after {
  width: 2.5rem;
  margin-left: -20px;
  background: var(--clr-primary-2);
}
.hike-pics-scroll {
  display: flex;
  align-items: center;
  overflow-x: scroll;
  max-width: var(--max-width);
  margin: 0 auto;
}

.hikePics {
  width: 50vw;
  height: 150px;
  margin: 20px;
  object-fit: cover;
}
.title-container {
  background-color: var(--clr-primary-3);
}

/*
=============== 
End of Home - Latest Hikes
===============
*/
/*
=============== 
Home - Board
===============
*/
.board-section {
  background-color: var(--clr-primary-3);
  height: 300px;
  /* border: solid 1px; */
}

.life-board {
  height: 200px;
  margin-top: 105px;
  margin-left: 5vw;
}

/*
=============== 
End of Board 
===============
*/

/*
=============== 
Home - Footer
===============
*/

.footer-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100px;
  line-height: 1.6rem;
  background: var(--clr-primary-1);
}

.footer-icons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-icon {
  color: var(--clr-primary-3);
  margin: 0 0.8rem;
  width: 1rem;
}

.footer-copyright {
  color: var(--clr-primary-3);
}

/*
=============== 
End of Home - Footer
===============
*/

/*
=============== 
HikingDB
===============
*/

.DB-background {
  background-color: var(--clr-primary-2);
}

.map-pic {
  width: 100%;
  max-height: 600px;
  object-fit: cover;
}

.DB-center {
  padding: 1rem;
  font-size: 16px;
  line-height: 1.5rem;
  max-width: var(--max-width);
}

.DB-center p,
span {
  line-height: 1.8rem;
}
.DB-center h5 {
  color: var(--clr-primary-1);
  font-weight: var(--font-weight);
  font-size: 16px;
  /* border: solid 1px; */
}

br {
  line-height: 2.5rem;
}

.DB-background h3 {
  padding: 0.1rem 0;
  font-size: 20px;
  color: var(--clr-primary-1);
  /* border: solid 1px; */
  margin: 1rem 0;
}

.summary-container {
  display: flex;
}

.summary {
  background: var(--clr-primary-3);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100px;
  margin-bottom: 0.8rem;
  margin-right: 0.5rem;
  border-radius: 0.3rem;
}
.summary.time {
  width: 80px;
}

.total-icons {
  /* display: inline-block; */
  /* border: solid 1px; */
  color: var(--clr-primary-1);
}

.detail-info span {
  display: block;
  margin: 0 1rem;
  margin-top: -1rem;
}
.text-bullet {
  padding: 0.3rem 1.5rem;

  /* border: solid 1px; */
}
.text-btwImg {
  margin: 0.7rem 0;
}

.star {
  color: var(--clr-yellow-1);
  display: inline;
  /* border: solid 1px; */
}
.text-small {
  font-size: 0.8rem;
  color: var(--clr-grey-2);
  margin-left: -8px;
  margin-top: -3px;
  /* border: solid 1px; */
}

.DB-link {
  color: var(--clr-primary-1);
  text-decoration: underline;
}

.text-cross {
  text-decoration: line-through;
  display: inline;
}

.text-bullet li {
  list-style: initial;
  line-height: 1.8rem;
  /* border: solid 1px; */
}

.text-bullet li ul {
  font-size: 15px;
}

.bullet-tab {
  margin-left: 1.5rem;
  /* border: solid 1px; */
}

.DB-center img {
  height: 250px;
  width: 100%;
  object-fit: cover;
}
.img-double {
  display: flex;
  justify-content: space-between;
  /* border: solid 1px; */
}

div .style-1 {
  width: 49%;
  height: 150px;
}

div .style-2 {
  width: 49%;
  height: 300px;
  /* border: solid 1px; */
}

div .style-3 {
  width: 49%;
  height: 160px;
  object-fit: cover;
  /* border: solid 1px; */
}

.back-to-top {
  color: var(--clr-primary-3);
  background: rgba(255, 255, 255, 0.664);
  font-size: 1rem;
  border: none;
  border-radius: 100%;
  width: 2rem;
  height: 2rem;
  position: absolute;
  right: 1rem;
}

/*
=============== 
End of HikingDB
===============
*/
/*
=============== 
Istanbul
===============
*/

.istanbul-section {
  width: 100vw;
  height: auto;
  background-color: var(--clr-primary-2);
  position: relative;
  display: flex;
  flex-direction: column;
}

section.dark {
  background-color: var(--clr-primary-1);
}

.article-container-2 {
  width: 75vw;
  height: auto;
  margin: 0 auto;
}

.content-for-darkMode{
  color: var(--clr-primary-3)
}

.istanbul-article-containter {
  color: var(--clr-black-1);
}

.dark-bg {
  background-color: var(--clr-primary-1)
}

.istanbul-title {
  width: 75vw;
  padding: 5px;
}

.istanbul-pic {
  margin-top: 10px;
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 5px;
}
.istanbul-intro {
  width: 75vw;
  font-size: 0.9rem;
  line-height: 1.4rem;
  /* border: solid 1px; */
  padding: 5px;
}
.read-more {
  margin: 5px 0;
  cursor: pointer;
  width: 6rem;
}
.tag {
  font-size: 14px;
  color: var(--clr-black-1);
}

/*
=============== 
End of Istanbul
===============
*/

/*
=============== 
Istanbul EPS 01
===============
*/

.article-pic {
  margin-top: 55px;
  border-radius: 0;
  /* border: solid 1px; */
}

.DB-center .vertical-pic {
  height: auto;
  width: 40vw;
  object-fit: cover;
  border: solid 1px;
}

/*
=============== 
End of Istanbul EPS 01
===============
*/

/*
=============== 
Pamukkale EPS 01
===============
*/

.article-title {
  margin: 1rem 0.5rem;
}

.darkDate {
  color: var(--clr-primary-1);
  background-color: var(--clr-primary-2);
  border-radius: 3px;
}

.lightDate {
  background-color: var(--clr-primary-2);
  border-radius: 3px;
}

.date-summary {
  display: flex;
  /* border: solid 1px; */
  align-items: center;
  font-size: 14px;
  padding: 1px;
}

.smallSize li {
  font-size: 15px;
}

.imgCaption {
  font-size: 14px;
}

.reference {
  font-size: 14px;
}

.refLink {
  color: var(--clr-black-1);
  text-decoration: underline;
}

.article-hr {
  width: 80vw;
}

/*
=============== 
End of Pamukkale EPS 01
===============
*/

/*
=============== 
Foodcost Article
===============
*/

table {
  border-collapse: collapse;
  width: 92vw;
  color: var(--clr-black-1);
  background: #e9ece37e;
}

td {
  border: solid 1px white;
  padding: 3px;
  padding-left: 10px;
  line-height: 1.3rem;
}

.food-table {
  margin: 0 auto;
}

.food-table thead {
  background: var(--clr-primary-3);
  color: var(--clr-black-1);
  font-weight: bold;
}

.food-table tbody td {
  font-size: 0.95rem;
}

.firstCol {
  width: 150px;
}

.secondCol {
  width: 100px;
}

.food-table .thirdCol {
  font-size: 0.85rem;
}

/*
=============== 
End of Foodcost Article
===============
*/

/*
=============== 
Turkey
===============
*/

.emptySpace {
  width: 100vw;
  height: 80px;
}

/*
=============== 
End of Turkey
===============
*/

/*
=============== 
PCR
===============
*/

.DB-center img.meme {
  background-position: left top;
  /* border: solid 1px; */
  height: 200px;
  width: 200px;
}

.meme-container {
  display: flex;
  justify-content: center;
}

.DB-center h2 {
  margin-bottom: 1.5rem;
}

.devider {
  display: flex;
  justify-content: center;
  margin: 3rem 0;
  /* border: solid 1px; */
}

.devider .dot {
  margin: 0 3px;
  /* border: solid 1px; */
}

img.verticle-img {
  height: auto;
}

/*
=============== 
End of PCR
===============
*/

/*
=============== 
Rumination
===============
*/

.lightContent {
  background-color: white;
  color: var(--clr-black-1);
}

main.darkContent {
  background-color: var(--clr-primary-1);
  color: var(--clr-primary-2);
}

span.text-small {
  /* border: solid 1px; */
  display: contents;
  font-size: 1rem;
}

.like-button {
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: solid 1px; */
  font-size: 1rem;
  width: 50px;
  border-radius: 10px;
  background: var(--clr-primary-2);
  color: var(--clr-primary-1);
}
.like-icon {
  margin-right: 5px;
}

/*
=============== 
End of Rumination
===============
*/

@media screen and (min-width: 576px) {
  .nav-center {
    max-width: var(--max-width);
    margin: 0 auto; /*整個頁面置中*/
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    height: 50px;
  }

  .nav-header {
    padding: 0;
    cursor: pointer;
  }

  .nav-toggle {
    display: none;
  }

  .menu {
    z-index: 1;
    visibility: visible;
    display: flex;
    height: 3rem;
    width: 585px;
    left: 50%;
    /*navBar高度讓裡面的元素撐開*/
  }

  .close-btn {
    display: none;
    transition: none;
  }

  .links {
    max-width: var(--max-width);
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    top: 0;
    height: 100%;
    width: 100%;
    transition: none;
    margin: 0 auto;
  }

  .links a {
    height: 3rem;
    font-size: 0.9rem;
    padding: 0.7rem 0.8rem;
    transition: none;
    /* border: solid 1px; */
  }

  .links a:hover {
    color: var(--clr-black-1);
    padding: 0.7rem 0.8rem;
  }

  .article-container-2 {
    width: 100%;
    display: flex;
    padding: 15px;
  }

  .article-container-2:hover {
    background-color: rgba(242, 162, 120, 0.3);
    border-radius: 5px;
  }

  .landing-page .explore-leaf {
    right: 100px;
  }

  /* About section */

  .content-container {
    visibility: hidden;
  }

  .landing-page .landing-page-quote {
    visibility: visible;
    width: 300px;
    font-size: 14px;
    line-height: 25px;
    font-weight: 300;
    margin-top: 20px;
    color: var(--clr-primary-4);
  }

  /*myPic seciton*/

  .DB-center {
    max-width: 800px;
    margin: 0 auto;
  }
  .DB-center img {
    height: 450px;
    width: 100%;
    object-fit: cover;
  }

  .aboutPic {
    background-attachment: fixed;
  }
  img.article-pic {
    object-fit: cover;
    background-position: center;
    height: 500px;
    /* border: solid 1px; */
    margin-bottom: 25px;
  }

  .article-title {
    text-align: center;
  }
  .food-table {
    width: 80%;
  }

  .firstCol {
    width: initial;
  }
  .secondCol {
    width: initial;
  }
  .istanbul-section {
    height: auto;
    /* flex-direction: row; */
    /* border: solid 1px; */
  }

  .article-section {
    /* display: initial; */
    width: 55vw;
    margin: 0 auto;
    height: auto;
  }
  .placeInRow {
    display: flex;
    flex-direction: column;
    width: 75vw;
    margin: 0 auto;
    height: auto;
  }

  .istanbul-pic {
    width: 250px;
    height: 150px;
    padding: 0;
    margin: 0;
  }

  .istanbul-article-containter {
    padding-left: 15px;
    padding-right: 15px;
    margin: auto 0;
  }

  .istanbul-title,
  .istanbul-intro {
    width: 100%;
  }

  .istanbul-title {
    font-size: 16px;
  }

  .istanbul-intro {
    font-size: 0.8rem;
  }

  .hike-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: auto;
    overflow-x: scroll;
    /* margin-top: 200px; */
  }
  .hike-section .article-section {
    margin: 25px 40px;
    height: 400px;
  }

  .placeInRow-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: solid 1px; */
  }

  /* article images */
  img.verticle-img {
    height: auto;
    /* border: solid 1px; */
  }

  div .style-2,
  div .style-1 {
    width: 49%;
  }
  div .style-3 {
    width: 49%;
    height: 270px;
  }

  .landing-page {
    display: flex;
    max-width: var(--max-width);
    margin: 0 auto;
    /* justify-content: center; */
    align-items: center;
    height: 100vh;
    width: 100%;
    /* border: solid 1px red; */
    z-index: 0;
  }
  .landing-page h1 {
    display: inline-block;
    font-size: 35px;
  }
  .landing-page div {
    margin-left: 100px;
    margin-top: -250px;
  }

  .landing-page .nancy-pic {
    height: 450px;
    left: 70%;
    bottom: 15%;
  }

  .dark-leaf-special {
    visibility: visible;
    opacity: 10%;
    top: -200px;
    left: -300px;
    width: 700px;
  }

  .toggler--light {
    margin-left: 10px;
  }

  .blog-intro-container {
    position: relative;
    /* border: solid 1px; */
    top: 50px;
  }

  .blog-intro-container .explore-leaf {
    position: absolute;
    left: 50px;
    top: 360px;
  }

  .dark-leaf-opacity {
    /* border: solid 1px; */
    height: 500px;
  }

  .dark-leaf-opacity-2 {
    width: 400px;
    height: auto;
  }

  .istanbul-leaf-label {
    margin-left: 20%;
    width: 10rem;
  }

  .hiking-leaf-label {
    width: 8rem;
    margin-left: 20%;
  }
  .hikePics {
    width: 25vw;
    height: 180px;
    margin: 20px;
    object-fit: cover;
  }
  .life-board {
    height: 250px;
    margin-top: 55px;
    margin-left: 10vw;
  }
}
